<div class="termsofservice">
<p>
다음 사항에 동의하면 데이터 편집에 참여할 수 있습니다.
</p>

<div class="section">
<h3>자유로운 라이선스로 데이터 배포</h3>
<p>
이용자가 이 사이트에 제출한 모든 단어 데이터는 맞춤법 검사 프로그램과
같은 소프트웨어에
<a href="http://www.mozilla.org/MPL/">MPL/GPL/LGPL 3중 라이선스</a>로
이용됩니다.
</p>
<p>
이 라이선스는 사용을 제약하는 라이선스가 아니라 자유로운 사용을
보장하기 위한 라이선스입니다. 이용자가 참여를 중단하는 경우에도 이미
편집한 데이터 내용은 지워지지 않으며, 계속 이용할 수 있습니다.
</p>
</div>

<div class="section">
<h3>저작권 문제가 되는 데이터에 대한 유의 사항</h3>
<p>
이 사이트에서는 위 라이선스로 배포하는 데 저작권 문제가 없는 단어
데이터만 수집합니다. 타인의 저작권을 침해하는 데이터를 입력할 경우 해당
데이터는 삭제되고 그에 따른 책임은 전적으로 입력한 사람에게 있습니다.
</p>
<p>
외부의 단어 데이터를 자동 입력하지 마십시오. 인터넷에서 다운로드할 수
있다고 해서 자유롭게 이용할 수 있다는 뜻은 아닙니다. 현재까지 알려진
다운로드할 수 있는 한글 단어 데이터 중에서 명백히 자유롭게 배포할 수
있는 데이터는 한 개도 없습니다. 단어와 품사 정보와 같은 데이터는
저작권의 대상이 아니라고 논란이 생길 수도 있으나, 이 사이트에서는
이러한 논란의 여지도 없는 데이터만 수집합니다.
</p>
</div>

</div>
