{% extends "base.html" %}
{% block content %}
<div class="proposal">
<a href="{% url proposal_add %}">단어 추가 제안하기</a>
<a href="{% url proposal_recentchanges %}">처리된 제안</a>

<h3>제안 중인 단어</h3>

<p>전체 {{ page.paginator.count }}개</p>

<table>
{% for proposal in page.object_list %}
<tr>
  <td><a href="{{ proposal.get_absolute_url }}">{{ proposal.action }}</a></td>
  <td>{{ proposal.date|date }} {{ proposal.date|time }}</td>
{% ifequal proposal.action "REMOVE" %}
  <td>{{ proposal.old_entry.word }}</td>
  <td>{{ proposal.old_entry.pos }}</td>
  <td>{% if proposal.old_entry.props %}{{ proposal.old_entry.props }}{% endif %}</td>
  <td>{{ proposal.editor.username }}</td>
  <td>{% if proposal.old_entry.comment %}{{ proposal.old_entry.comment|truncatewords:4 }}{% endif %}</td>
{% else %}
  <td>{{ proposal.word }}</td>
  <td>{{ proposal.pos }}</td>
  <td>{% if proposal.props %}{{ proposal.props }}{% endif %}</td>
  <td>{{ proposal.editor.username }}</td>
  <td>{% if proposal.comment %}{{ proposal.comment|truncatewords:4 }}{% endif %}</td>
{% endifequal %}
  <td>{% if proposal.rationale %}{{ proposal.rationale|truncatewords:4 }}{% endif %}</td>
</tr>
{% endfor %}
</table>
<div class="paginator">
{% if page.has_previous %}
<a href="?page={{ page.previous_page_number }}">이전</a>
{% endif %}
{% if page.has_next %}
<a href="?page={{ page.next_page_number }}">다음</a>
{% endif %}
</div>

</div>
{% endblock %}
