{% extends "base.html" %}
{% block content %}
<div class="suggestion">
{% if submitted_rev %}
<ul class="messagelist"><li><a href="{% url 'suggestion' rev_id=submitted_rev.id %}">{{ submitted_rev.word.word }}</a>({{ submitted_rev.word.pos }})' 제안이 잘 생성되었습니다.</li></ul>
{% endif %}
<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
{% include "galkwiapp/_suggestion_terms.html" %}
<p>
<input type="submit" name="_addanother" value="저장하고 새 제안추가" />
<input type="submit" value="저장하기" />
</form>
</div>
{% endblock %}
