{% extends "base.html" %}
{% block content %}
<div class="suggestion">
<h3>처리된 단어</h3>

<p>전체 {{ page.paginator.count }}개</p>

<table>
{% for rev in page.object_list %}
<tr>
  <td><a href="{{ rev.get_absolute_url }}">{{ rev.status_name }}</a></td>
  <td>{{ rev.action_name }}</td>
  <td>{{ rev.review_timestamp }}</td>
{% if rev.action_is_remove %}
  <td>{{ rev.parent.word.word }}({{ rev.parent.word.pos }})</td>
  <td>{{ rev.user.username }}</td>
  <td>{% if rev.parent.comment %}{{ rev.parent.comment|truncatewords:4 }}{% endif %}</td>
{% else %}
{% if rev.status_is_approved %}
  <td><a href="{{ rev.entry.get_absolute_url }}">{{ rev.word.word }}({{ rev.word.pos }})</a></td>
{% else %}
  <td>{{ rev.word.word }}({{ rev.word.pos }})</td>
{% endif %}
  <td>{{ rev.user.username }}</td>
  <td>{% if rev.comment %}{{ rev.comment|truncatewords:4 }}{% endif %}</td>
{% endif %}
  <td>{% if rev.review_comment %}{{ rev.review_comment|truncatewords:4 }}{% endif %}</td>
</tr>
{% endfor %}
</table>
<div class="paginator">
{% if page.has_previous %}
<a href="?page={{ page.previous_page_number }}">이전</a>
{% endif %}
{% if page.has_next %}
<a href="?page={{ page.next_page_number }}">다음</a>
{% endif %}
</div>

</div>
{% endblock %}
