{% extends "base.html" %}
{% block content %}
<div class="suggestion">
<table>
<tr>
  <td>{{ rev.action }}</td>
  <td>{{ rev.timestamp|date }} {{ rev.timestamp|time }}</td>
  <td>{{ rev.user.username }}</td>
  <td>{% if rev.comment %}{{ rev.comment }}{% endif %}</td>
</tr>
</table>
{% if rev.action_is_add %}
<table>
<tr>
{% if rev.status_is_approved %}
  <td><a href="{% url 'entry' entry_id=rev.entry.id %}">{{ rev.word.word }}</a></td>
{% else %}
  <td>{{ rev.word.word }}</td>
{% endif %}
  <td>{{ rev.word.pos }}</td>
  <td>{% if rev.word.props %}{{ rev.word.props }}{% endif %}</td>
  <td>{% if rev.word.description %}{{ rev.word.description }}{% endif %}</td>
</tr>
</table>
{% endif %}
{% if rev.action_is_remove %}
<h3>삭제 단어 정보</h3>
<table>
<tr>
  <td><a href="{% url 'entry' entry_id=rev.entry.id %}">{{ rev.word.word }}</a></td>
  <td>{{ rev.parent.word.pos }}</td>
  <td>{% if rev.parent.word.props %}{{ rev.parent.word.props }}{% endif %}</td>
  <td>{% if rev.parent.word.description %}{{ rev.parent.word.description }}{% endif %}</td>
  <td>{{ rev.user.username }}</td>
</tr>
</table>
{% endif %}
{% if rev.action_is_update %}
<h3>변경 사항</h3>
<p>TODO: diff</p>
<table>
<tr>
  <td><a href="{% url 'entry' entry_id=rev.entry.id %}">{{ rev.word.word }}</a></td>
  <td>{{ rev.word.pos }}</td>
  <td>{% if rev.word.props %}{{ rev.word.props }}{% endif %}</td>
  <td>{% if rev.word.etym %}{{ rev.word.etym }}{% endif %}</td>
  <td>{% if rev.word.description %}{{ rev.word.description }}{% endif %}</td>
</tr>
<tr>
  {% if rev.status_is_approved %}
  <td><a href="{% url 'entry' entry_id=rev.entry.id %}">{{ rev.word.word }}</a></td>
  {% else %}
  <td>{{ rev.word.word }}</td>
  {% endif %}
  <td>{{ rev.word.pos }}</td>
  <td>{% if rev.word.props %}{{ rev.word.props }}{% endif %}</td>
  <td>{% if rev.word.etym %}{{ rev.word.etym }}{% endif %}</td>
  <td>{% if rev.word.description %}{{ rev.word.description }}{% endif %}</td>
</tr>
</table>
{% endif %}
{% if rev.status_is_voting %}
{% ifequal rev.user user %}
<form action="{% url 'suggestion_cancel' rev_id=rev.id %}" method="post">{% csrf_token %}
{{ cancel_form }}
<input type="submit" value="제안 취소" />
</form>
{% endifequal %}
{% endif %}
{% if not rev.status_is_voting %}
<p>결과: {{ rev.status }}</p>
<p>리뷰: {{ rev.reviewer.username }}</p>
<p>리뷰 코멘트: {{ rev.review_comment }}</p>
<p>리뷰 시각: {{ rev.review_timestamp|date }} {{ rev.review_timestamp|time }}</p>
{% endif %}
{% if rev.status_is_voting %}{% if perms.galkwiapp.can_review %}
<h3>리뷰</h3>
<form action="{% url 'suggestion_review' rev_id=rev.id %}" method="POST">{% csrf_token %}
<table>
{{ review_form }}
</table>
<input type="submit" name="_reviewone" value="리뷰 및 다음 제안으로" />
<input type="submit" value="리뷰" />
</form>
{% endif %}{% endif %}
</div>
{% endblock %}
