{% extends "base.html" %}
{% block content %}
<div class="suggestion">
{% if submitted_suggestion %}
<ul class="messagelist"><a href="{% url 'suggestion' suggestion_id=submitted_suggestion.id %}">{{ submitted_suggestion.word.word }}</a>({{ submitted_suggestion.word.pos }})' 제안이 잘 생성되었습니다.</ul>
{% endif %}
<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
{% include "galkwiapp/_suggestion_terms.html" %}
<p>
<input type="submit" name="_addanother" value="저장하고 새 제안추가" />
<input type="submit" value="저장하기" />
</form>
</div>
{% endblock %}
