{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tag-editor.css' %}">
{% endblock %}
{% block script %}
<script src="/static/js/jquery.tag-editor.min.js"></script>
{% endblock %}
{% block content %}
<div class="suggestion">
{% if submitted_rev %}
<ul class="messagelist"><li>성공: '<a href="{% url 'suggestion' rev_id=submitted_rev.id %}">{{ submitted_rev.word.word }}</a>({{ submitted_rev.word.pos }})' 제안이 잘 생성되었습니다.</li></ul>
{% elif duplicated_rev %}
<ul class="messagelist"><li>실패: '<a href="{% url 'suggestion' rev_id=duplicated_rev.id %}">{{ duplicated_rev.word.word }}</a>({{ duplicated_rev.word.pos }})' 단어가 이미 들어 있거나 제안 중입니다.</li></ul>
{% endif %}
<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
{% include "galkwiapp/_suggestion_terms.html" %}
<p>
<input type="submit" name="_addanother" value="저장하고 새 제안추가" />
<input type="submit" value="저장하기" />
</form>
</div>
{% include "galkwiapp/_suggestion_edit_help.html" %}
{% endblock %}
