{% extends "base.html" %}
{% block content %}
<div class="proposal">
<table>
<tr>
  <td>{{ proposal.action }}</td>
  <td>{{ proposal.date|date }} {{ proposal.date|time }}</td>
  <td>{{ proposal.editor.username }}</td>
  <td>{% if proposal.rationale %}{{ proposal.rationale }}{% endif %}</td>
</tr>
</table>
{% ifequal proposal.action "ADD" %}
<table>
<tr>
{% ifequal proposal.status "APPROVED" %}
  <td><a href="{% url 'entry' entry_id=proposal.new_entry.key.id %}">{{ proposal.word }}</a></td>
{% else %}
  <td>{{ proposal.word }}</td>
{% endifequal %}
  <td>{{ proposal.pos }}</td>
  <td>{% if proposal.props %}{{ proposal.props }}{% endif %}</td>
  <td>{% if proposal.comment %}{{ proposal.comment }}{% endif %}</td>
</tr>
</table>
{% endifequal %}
{% ifequal proposal.action "REMOVE" %}
<h3>삭제 단어 정보</h3>
<table>
<tr>
  <td><a href="{% url 'entry' entry_id=proposal.old_entry.key.id %}">{{ proposal.old_entry.word }}</a></td>
  <td>{{ proposal.old_entry.pos }}</td>
  <td>{% if proposal.old_entry.props %}{{ proposal.old_entry.props }}{% endif %}</td>
  <td>{% if proposal.old_entry.comment %}{{ proposal.old_entry.comment }}{% endif %}</td>
  <td>{{ proposal.old_entry.editor.username }}</td>
</tr>
</table>
{% endifequal %}
{% ifequal proposal.action "UPDATE" %}
<h3>변경 사항</h3>
<table>
<tr>
  <td><a href="{% url 'entry' entry_id=proposal.old_entry.key.id %}">{{ proposal.old_entry.word }}</a></td>
  <td>{{ proposal.old_entry.pos }}</td>
  <td>{% if proposal.old_entry.props %}{{ proposal.old_entry.props }}{% endif %}</td>
  <td>{% if proposal.old_entry.etym %}{{ proposal.old_entry.etym }}{% endif %}</td>
  <td>{% if proposal.old_entry.comment %}{{ proposal.old_entry.comment }}{% endif %}</td>
</tr>
<tr>
  {% ifequal proposal.status "APPROVED" %}
  <td><a href="{% url 'entry' entry_id=proposal.new_entry.key.id %}">{{ proposal.word }}</a></td>
  {% else %}
  <td>{{ proposal.word }}</td>
  {% endifequal %}
  <td>{{ proposal.pos }}</td>
  <td>{% if proposal.props %}{{ proposal.props }}{% endif %}</td>
  <td>{% if proposal.etym %}{{ proposal.etym }}{% endif %}</td>
  <td>{% if proposal.comment %}{{ proposal.comment }}{% endif %}</td>
</tr>
</table>
{% endifequal %}
{% ifequal proposal.status "VOTING" %}{% ifequal proposal.editor user %}
<form action="{% url 'proposal_cancel' proposal_id=proposal.key.id %}" method="post">{% csrf_token %}
{{ cancel_form }}
<input type="submit" value="제안 취소" />
</form>
{% endifequal %}{% endifequal %}
<h3>투표 현황</h3>
<table>
<p>찬성 {{ votes_yes_count }} / 반대 {{ votes_no_count }}</p>
{% for vote in votes %}
<tr>
  <td>{{ vote.vote }}</td>
  <td>{{ vote.date|date }} {{ vote.date|time }}</td>
  <td>{{ vote.reviewer.username }}</td>
  <td>{% if vote.reason %}{{ vote.reason }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% ifnotequal proposal.status "VOTING" %}
<p>결과: {{ proposal.status }}</p>
<p>처리 시각: {{ proposal.status_date|date }} {{ proposal.status_date|time }}</p>
{% endifnotequal %}
{% ifequal proposal.status "VOTING" %}{% if perms.galkwi.can_vote %}
<h3>투표하기</h3>
<form action="{% url 'proposal_vote' proposal_id=proposal.key.id %}" method="POST">{% csrf_token %}
<table>
{{ vote_form }}
</table>
<input type="submit" name="_voteone" value="투표 및 다음 제안으로" />
<input type="submit" value="투표" />
</form>
{% endif %}{% endifequal %}
</div>
{% endblock %}
